.forgotPassword {
  height: 570px;
  margin: 30px auto 30px auto;
  display: flex;
  padding: 0px 8%;
  max-width: 1450px;
  align-items: center;
  .designContainer {
    flex-basis: 50%;
    height: 570px;
  }

  .formContainer {
    flex-basis: 50%;
    .form {
      height: 570px;
      display: flex;
      flex-direction: column;

      padding: 130px 30px 40px 30px;
      background: #ffff !important;

      .title {
        margin-bottom: 20px;
        h2 {
          text-align: left;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          color: #191c2d;
        }
        .backToHome {
          display: none;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          color: #159557;
          text-transform: capitalize;
          float: right;
          position: relative;
          bottom: 27px;
        }
      }

      .formItems {
        display: flex;
        flex-direction: column;
        gap: 20px;

        border-radius: 10px 10px 0px 0px !important;

        .item {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .error {
            color: rgb(255, 77, 0);
            font-size: 12px;
            font-weight: 500;
          }
          input {
            width: 100%;
            padding: 10px 15px;
            border-radius: 5px;
            color: #94989d;
            background: #ffffff;
            border: 1px solid #cbd1da;
            gap: 10px;
            height: 42px;
            outline: none;
            font-weight: 500;
            font-size: 14px;
            &:focus {
              color: black;
            }
          }
          label {
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            color: #3b3f4a;
            .shortPassword {
              color: #8a929c;
              line-height: 18px;
              display: block;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
        .login {
          text-align: center;
          color: #159557;
          font-size: 16px;

          font-weight: 700;
          line-height: 24px;
        }
      }
    }
  }
}

// @media (min-width: 1024px) {
//   .forgotPassword {
//     max-width: 1450px;
//     padding-inline: 10%;
//   }
// }
@media (max-width: 768px) {
  .forgotPassword {
    .designContainer {
      display: none;
    }
    .formContainer {
      flex-basis: 100%;

      .form {
        border-radius: 10px;

        .title {
          .backToHome {
            display: block;
          }
        }
      }
    }
  }
}
