.resetPassword {
  height: 570px;
  margin: 30px auto 30px auto;
  display: flex;
  padding: 0px 8%;
  max-width: 1450px;
  align-items: center;
  .designContainer {
    flex-basis: 50%;
    height: 530px;
  }
  .formContainer {
    flex-basis: 50%;

    .form {
      display: flex;
      flex-direction: column;
      height: 530px;

      padding: 110px 30px;
      background: #ffff !important;
      border-radius: 10px;

      .backToHome {
        display: none;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #159557;
        text-align: center;
        text-transform: capitalize;
        margin-top: 20px;
      }
      .title {
        h2 {
          text-align: left;
          margin-bottom: 20px;
          font-weight: 700;
          line-height: 36px;
          color: #191c2d;
        }
      }

      .formItems {
        display: flex;
        flex-direction: column;
        gap: 20px;

        border-radius: 10px 10px 0px 0px !important;
        .eyeIcon {
          width: 18px;
          height: 18px;
          color: #94989d;
        }
        .error {
          color: rgb(255, 77, 0);
          font-size: 12px;
          font-weight: 500;
        }
        .item {
          display: flex;
          flex-direction: column;
          gap: 5px;

          label {
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            color: #3b3f4a;
            .shortPassword {
              color: #8a929c;
              line-height: 18px;
              display: block;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .resetPassword {
    margin-bottom: 90px;
    .designContainer {
      display: none;
    }
    .formContainer {
      flex-basis: 100%;
      .form {
        border-radius: 10px;
        .backToHome {
          display: block;
        }
      }
    }
  }
}
